[2017-12-04 21:03] jsafrane opened #9 "CSI drivers should not depend on Kubernetes"
It's fairly common to see importing Kubernetes in our drivers:

[code]

The drivers should be totally independent on Kubernetes and should not import it.

[2017-12-04 21:07] jsafrane opened #10 "Unit testing framework"
All drivers should have unit tests that would check their correctness and save us from regressions. For that, there should be a simple framework that a driver author would use to poke the driver easily with different requests and check that the responses, mounted directories, executed commands and other driver behavior is correct.

There should be also a simple mock for the most common operation l

[2017-12-04 21:33] chakri-nelluri commented on #9
Plan is to move some of the utilities to https://github.com/kubernetes/utils and load it from there.
I referred to other external controllers like ingress and they are currently importing from the tree. I agree with you. It is not great, but for now rather than duplicating all this code, which in-turn is referring to other K8S packages, I add this dependency.

[2017-12-08 16:36] lpabon opened #12 "Hostpath driver does not need to create targetpath"
See https://github.com/kubernetes-csi/drivers/blob/master/pkg/hostpath/nodeserver.go#L42

this is required by CSI. If it does not exist, then return an error.

[2017-12-11 17:32] lpabon commented on #10
I discussed this with @chakri-nelluri and here is my proposal.

I have a PoC of a framework just to do a "sanity" test of a driver. This can be expanded as it matures in the future

## Usage

* Use as a standard Unit Test where the driver does the following:

[code]

* As a program for non-Golang drivers

[code]

## Implementation
Here is the pseudo-code of the implementation:

[code]

[2017-12-14 16:39] lpabon opened #19 "Drivers need deployment information"
Drivers need documentation on their repos on how to deploy:

[ ] Nfs
[ ] Flexvolume

[2017-12-14 16:41] chakri-nelluri commented on #19
@lpabon It's there in pkg/nfs & pkg/flexvolume/examples/simplenfs-plugin

[2017-12-14 17:31] lpabon commented on #19
Doh! Correct 👍

[2017-12-14 17:31] #19 closed

[2017-12-14 17:38] lpabon opened #21 "Travis support"
There is a .travis.yaml support already there, but it needs to be enabled.

[2017-12-14 17:45] chakri-nelluri opened #22 "Add strict validation code in csi-common"
CSI specs dictates strict constraints on valid characters and size limits on fields. Today we don't have any validation code on fields. Opening an issue to track it.

[2017-12-14 17:47] chakri-nelluri opened #23 "Automated build system for drivers"
We need a automated build system for drivers. Today, we have manual steps to build a docker image, push it, update deployment manifests to reflect it.

Opening an issue to update the build system to handle this gracefully.

[2017-12-14 17:52] chakri-nelluri opened #24 "E2E tests for drivers"
Today, we do not have any e2e test for drivers.
Opening an issue to add E2E tests for drivers.

[2017-12-14 17:55] chakri-nelluri opened #25 "Doc to write new drivers"
Opening an issue to create a DOC to write new drivers using csi-common.

[2017-12-15 01:28] edisonxiang commented on #21
@lpabon Yep, CI is very userful for basic verification.

[2018-01-03 16:35] chakri-nelluri commented on #12
/assign rootfs

[2018-01-03 17:14] rootfs commented on #12
@lpabon where in spec you were referring?

[2018-01-06 05:01] sbezverk opened #31 "When hostpathplugin starts without specifying parameters, it fails with segmentation fault"
sbezverk@kube-4:~/developing/go/src/github.com/kubernetes-csi/drivers$ _output/hostpathplugin
I0105 21:03:40.909191   13038 hostpath.go:71] Driver: csi-hostpath version: 0.1.0
E0105 21:03:40.909620   13038 driver.go:45] NodeID missing
I0105 21:03:40.909734   13038 driver.go:116] Enabling controller service capability: CREATE_DELETE_VOLUME
panic: runtime error: invalid memory address or nil pointer

[2018-01-09 20:34] rootfs opened #33 "iSCSI Driver: Need to mount device path after attach"
Currently iscsi driver just attaches the disk, it should format and mount after that in node publish volume

[2018-01-09 20:39] rootfs commented on #33
closing this, iscsi_util.go is different from that in k8s tree.

[2018-01-09 20:39] #33 closed

[2018-01-10 22:21] lpabon commented on #12
Hi @rootfs , in [NodePublishVolume](https://github.com/container-storage-interface/spec/blob/master/spec.md#nodepublishvolume) the comment for `target_path` says it is the responsibility of the CO to assure that the path exists. So the driver should just check it exists and fail if it does not instead of creating it.

[2018-01-17 06:16] humblec commented on #9
Otherwise we need to pull these `utils` to `csi-common` in this repo.

[2018-01-18 00:32] qmfrederik opened #40 "err=no volume plugin matched"
I'm trying to create a CSI plugin for [nfusr](https://github.com/facebookincubator/nfusr), see https://github.com/quamotion/nfusr-csi.

When I provision a pod using a PVC which leverages the CSI plugin (see https://github.com/quamotion/nfusr-csi/blob/master/sample/nginx.yaml), the pod remains stuck in the `ContainerCreating` state, and the output of `systemctl status kubelet` on the node which hos

[2018-01-18 14:08] rootfs commented on #40
have u turned on CSI feature gate?

[2018-01-21 18:45] qmfrederik commented on #40
I'm pretty sure I had, at least following the instructions specified here: http://blog.kubernetes.io/2018/01/introducing-container-storage-interface.html.

I'm a bit time-constrained now so I reverted back to using user-space mounts in a sidecar container + mount propagation; but I'll probably give CSI plugins another try (either for nfusr or etcd) in the near feature.

Closing for now and I'll re

[2018-01-21 18:45] #40 closed

[2018-01-28 15:29] gyliu513 opened #45 "Update document to clarify where to get `./_output/nfsplugin`"
In https://github.com/kubernetes-csi/drivers/tree/master/pkg/nfs#start-nfs-driver , it mentioned that I can Start NFS driver as following:

[code]

Can someone show more detail for where to get the binary of `./_output/nfsplugin`? We should update the document a bit to tell end user how to get this binary.

[2018-01-29 20:27] rootfs commented on #45
you need to build the drivers first, run `make` at drivers directory.

[2018-01-29 20:27] #45 closed

[2018-01-29 23:54] gyliu513 commented on #45
@rootfs shall we update the document a bit by adding `make` section for this?

[2018-02-01 16:48] rootfs commented on #45
@gyliu513 good point, PR welcome

[2018-02-07 12:56] gyliu513 opened #46 "what should be the `csi.volume.kubernetes.io/volume-attributes` for nfs plugin"
Can anyone help clarify which ip address shall I config at https://github.com/kubernetes-csi/drivers/blob/master/pkg/nfs/examples/kubernetes/nginx.yaml#L8 ?

[2018-02-07 13:19] gyliu513 commented on #46
Also what about in the case if I have two worker nodes? Then the `csi-nodeplugin-nfsplugin` will be running on both nodes as daemonset.

[2018-02-07 13:33] gyliu513 commented on #46
got it, i need an nfs server

[2018-02-07 13:33] #46 closed

[2018-02-12 09:53] gyliu513 opened #51 "Add a readme to hostpath"
/cc @haoqing0110

[2018-02-21 16:26] rootfs opened #55 "Need to pick up GetPluginCapabilities"
need to pick up `GetPluginCapabilities` per https://github.com/container-storage-interface/spec/pull/189
otherwise, following error occurs
@chakri-nelluri
[code]

[2018-02-22 01:47] #51 closed

[2018-02-28 09:56] andyzhangx opened #57 "build error due to csi in container-storage-interface API changed"
Anyone know how to work around this issue?
[code]

Using master branch of `github.com/container-storage-interface/spec/lib/go/csi` is incorrect now since csi api has changed.
@rootfs

[2018-02-28 13:43] andyzhangx commented on #57
just could not find the correct commit:
[code]

[2018-02-28 13:49] andyzhangx commented on #57
v0.1.0 works, while there is build error for master branch

[2018-02-28 14:48] sbezverk commented on #57
@andyzhangx Currently CSI master points to CSI Spec 0.2.0 which introduced a breaking changes.  There is an effort to convert all existing plugins, as well as provisioner/attacher/registrar to support CSI Spec 0.2.0.  Here is my PR which addresses hostpath plugin and csi-common 0.2.0 changes:
https://github.com/kubernetes-csi/drivers/pull/56
Please keep in mind that you still need new provisioner

[2018-03-01 01:19] andyzhangx commented on #57
@sbezverk thanks, I am going to write a new CSI driver, so should I start with v0.1.0 or just wait for 0.2.0? I still need new provisioner and registrar for 0.2.0, it looks like v0.2.0 is still on-going.

[2018-03-01 01:23] sbezverk commented on #57
@andyzhangx please do not bother doing anything for 0.1.0, registrar and attacher are already merged, provisioner will be merged tomorrow. You can start working for 0.2.0 right away :)

[2018-03-01 01:30] andyzhangx commented on #57
@sbezverk thanks for clarification, I just would like to make it very detailed, so when the following images would be ready in docker hub, do I need to build them myself?
[code]

Is there any example config when 0.2.0 is ready, I got an 0.1.0 example from here:
https://raw.githubusercontent.com/lpabon/csi-workspace/master/demo/hostPath.yaml

[2018-03-01 01:52] sbezverk commented on #57
@andyzhangx the images will be available at quay.io/k8scsi
See this link for my hostpath plugin yaml: https://gist.github.com/sbezverk/2229db8d27968c1a968e3a4ab5dabe14

[2018-03-01 01:56] andyzhangx commented on #57
@sbezverk thanks, you are awesome!

[2018-03-01 08:15] andyzhangx commented on #57
hi @sbezverk you are using image from `192.168.80.240:4000/k8scsi/csi-provisioner:v0.2.0`, could you put those images into docker pub? thanks.

[2018-03-02 09:41] mengjieli0726 opened #58 "The mount source path of nfs is not correct after deploy pod with using CSI NFS driver."
1. Enable CSI by add the below parameters
[code]
2. Deploy NFS driver according to https://github.com/kubernetes-csi/drivers/tree/master/pkg/nfs/deploy/kubernetes

[code]

3. Deploy a Pod using CSI volume. Before starting this example, ensure to install NFS.
[code]

Modify pkg/nfs/examples/kubernetes/nginx.yaml, replace
[code]

Create nignx:

[code]
Check the nignx container nfs path, found mount

[2018-03-07 03:10] gyliu513 commented on #58
@haoqing0110 can you help check?

[2018-03-07 07:47] haoqing0110 commented on #58
@gyliu513 @mengjieli0726
The image **docker.io/k8scsi/nfsplugin:v0.1** used in [csi-attacher-nfsplugin.yaml](https://github.com/kubernetes-csi/drivers/blob/master/pkg/nfs/deploy/kubernetes/csi-attacher-nfsplugin.yaml) and [csi-nodeplugin-nfsplugin.yaml](https://github.com/kubernetes-csi/drivers/blob/master/pkg/nfs/deploy/kubernetes/csi-nodeplugin-nfsplugin.yaml) is out-of-date, inconsistent with c

[2018-03-13 14:29] haoqing0110 commented on #58
@sbezverk  @xing-yang @rootfs Can you help on this update?

[2018-03-13 14:43] sbezverk commented on #58
@gyliu513  @haoqing0110 I would suggest a couple of things:
1. Use v0.2.0 images from quay.io for external-provisioner/external-attacher/registrar (no need to build them, just make sure your yaml points to them)
2. build nfs image from the master of kubernetes-csi/drivers

[2018-03-13 15:10] xing-yang commented on #58
Hi @haoqing0110,
Can you try image links posted in this PR https://github.com/xing-yang/drivers/commit/dfe7d4e4e68994eabaf9a395cf0f4efd7d32874c?  The NFS plugin image is not in the official repo yet, but @rootfs has verified it works.  Thanks.

[2018-03-14 16:36] pohly opened #68 "hostpath driver must implement GetPluginCapabilities"
The example from https://github.com/kubernetes-csi/docs/pull/11 fails with the current quay.io/k8scsi images. The external-attacher runs into a fatal error and terminates:
[code]

This is querying the hostpath-driver, which says:
[code]

I haven't looked at the source, but it looks like the hostpath driver doesn't implement GetPluginCapabilities?

[2018-03-14 16:44] pohly commented on #68
I can reproduce it with latest kubernetes-csi/drivers and will have a look at which commit broke this.

[2018-03-14 17:10] pohly commented on #68
It has always has been this way? Perhaps the external-attacher just didn't check?

[2018-03-14 18:58] #68 closed

[2018-03-14 18:59] sbezverk commented on #68
@pohly should be fixed when #69 gets merged. hostpath plugin used a default Identity Server which was advertising Service_UNKNOWN plugin capability. It used to work because neither provisioner nor attacher checked it. Since this behaviour was changed in provisioner and attacher, provisioner stopped calling CreateVolume since it is Controller serving call.

[2018-03-15 00:27] xing-yang commented on #58
The image links under deploy/kubernetes/ are updated to point to v0.2.0 images now.  nginx.yaml is also updated.  Please test again.

[2018-03-15 01:37] gyliu513 commented on #58
@xing-yang one question, does the 0.2.0 means nfs driver version or the CSI version?

[2018-03-15 02:14] xing-yang commented on #58
0.2.0 is the CSI version.  Our new images for NFS plugin, attacher, registrar are all tagged with 0.2.0 now.

[2018-03-15 02:15] xing-yang commented on #58
Actually it is both.  NFS plugin version is also 0.2.0 now.

[2018-03-15 06:44] arm64b opened #71 "Error happens when building the `hostpath` driver"
1. `git clone https://github.com/kubernetes-csi/drivers.git`
2. enter into the `drivers` folder
3. `# make hostpath` show below error:
[code]

Try to `# go get github.com/golang/dep`, but it fails at:
[code]

[2018-03-15 07:06] arm64b commented on #57
Hello @sbezverk , I've setup an CSI-enabled k8s cluster with `kubeadm`, but when I create the `csi-pod` with:
[code]
The command `kubectl get pod` always shows:
[code]
Do I need to adapt that yml file to my local environment, but seems there's not env specific settings in that yaml file. Any suggestions?

[2018-03-15 07:12] pohly commented on #71
@arm64b does https://stackoverflow.com/questions/46241177/in-gogland-i-get-flag-provided-but-not-defined-goversion-using-go-run help?

[2018-03-15 08:17] andyzhangx commented on #57
external-provisioner is crahsing, it says:
[code]

[2018-03-15 08:19] arm64b commented on #71
Hello @pohly , yes, it's help. I messed up my go environment in my local machine (GOPATH), and after that, we need to `go get` this git repo, then it should be OK. Thanks for the information 👍

[2018-03-15 08:31] arm64b commented on #57
@andyzhangx  are you using the cmd `#kubectl create -f https://raw.githubusercontent.com/kubernetes-csi/docs/master/book/src/example/csi-setup.yaml` to create the `csi-pod`? But the output of `#kubectl logs -p csi-pod -c external-provisioner` in my side is:
[code]

[2018-03-15 08:36] andyzhangx commented on #57
@arm64b  yes, i am using the same cmd, you may delete it and recreate.

[2018-03-15 08:42] arm64b commented on #57
Yes, I delete it, the `kubectl get pod` shows  `No resources found`, then I create it again with `kubectl create -f https://raw.githubusercontent.com/kubernetes-csi/docs/master/book/src/example/csi-setup.yaml`:
[code]
The `kubectl get pod` output then:
[code]

After that:
[code]

[2018-03-15 09:17] pohly commented on #57
This was found and fixed yesterday, see PR #69. The images need to be updated to reflect that.

[2018-03-19 02:57] fanux opened #73 "Path /var/lib/kubelet/pods is mounted on /var/lib/kubelet/pods but it is not a shared mount"
Error: failed to start container "hostpath-driver": Error response from daemon: linux mounts: Path /var/lib/kubelet/pods is mounted on /var/lib/kubelet/pods but it is not a shared mount.

[code]

[2018-03-19 02:58] fanux commented on #73
useless...  how to solve this issue?

[2018-03-19 07:15] pohly commented on #73
How do you start your cluster?

Is the MountPropagation=true feature gate enabled?

[2018-03-19 12:37] fanux commented on #73
yes, I opened it.
[code]

[2018-03-27 04:50] colemickens opened #75 "Stability of NFS Driver (and other "samples")"
This page (https://kubernetes-csi.github.io/docs/Drivers.html) lists NFS as an example driver, with "sample" stability status.

From `git`, it looks like it may be actively developed. What is the stability of the "sample" plugins such as NFS? Are there bigger plans for it? Is there something that makes it, in the authors opinions, unsuitable for production uses?

Thanks.

[2018-03-28 07:44] #57 closed

[2018-03-28 07:55] andyzhangx opened #76 "current hostpath code on master does not work with quay.io/k8scsi/csi-provisioner:v0.2.0"
I have made hostpath image with latest code in this master branch and use following [statefulset](https://github.com/andyzhangx/demo/blob/master/linux/csi/hostpath/csi-hostpath.yaml) (replace `quay.io/k8scsi/hostpathplugin:v0.2.0` with my image: `andyzhangx/csi-hostpath:1.0.0`) to create csi-hostpath, `csi-external-provisioner` container always fail like following:
[code]

[code]

The Dockerfile I

[2018-03-28 09:19] andyzhangx commented on #76
@karataliu

[2018-03-28 12:29] sbezverk commented on #76
@andyzhangx recently there was a change merged to external-provisioner, could you please try to build latest external-provisioner image and retry. Make sure you use `--v=5` when you start both hostpath and external-provisioner.

[2018-03-28 12:58] andyzhangx commented on #76
@sbezverk awesome, it works now! I should have asked you this issue earlier, it bothered me for a whole day! I built a new external-provisioner, it works now, here is the working image:
`andyzhangx/csi-provisioner:1.0.0`

[2018-03-28 14:25] andyzhangx commented on #76
@sbezverk while it only seems working, no container crashing, csi-provisioner still does not work, `csi-external-provisioner` could not GetPluginCapabilities from hostpath-driver
[code]

[code]

[2018-03-28 14:27] pohly commented on #73
@fanux I ran out of ideas and was hoping that someone more familiar with internals might chime in. Just now I saw this change:
https://github.com/kubernetes-csi/docs/pull/17/files#diff-0

The links there show how Docker must be configured. Does that help in your case?

[2018-03-28 15:33] andyzhangx commented on #76
@sbezverk so shall I try all master branches of `kubernetes-csi/drivers` and `csi-external-provisioner` and only replace these two images: `hostpath-driver` and `csi-external-provisioner` ?

[2018-03-28 15:36] sbezverk commented on #76
@andyzhangx only hostpath for now, but make sure you run `dep ensure -vendor-only` before you build new hostpath container.

[2018-03-28 15:53] andyzhangx commented on #76
@sbezverk it does not work, could you share you statefulset config? Maybe I could use your images and only replace with my hostpath image. I am not sure whether my `csi-external-provisioner` or my `hostpath-driver` is not working well, thanks.

[2018-03-28 16:11] sbezverk commented on #76
@andyzhangx I do not use stateful sets, I use just simple pods since it is just for developing purposes. In my config I have two pods: 1st csi-provisioner and 2nd hostpath+registrar+attacher+livenessprobe.
See this gist:
https://gist.github.com/sbezverk/67bcc4245c500bf94ef6a28d45722a79
We need to fins a way to reproduce it, please post in gist your stateful set.

[2018-03-28 21:47] sbezverk commented on #73
@fanux you need to change docker's to `MountFlags=shared`

[2018-03-30 09:12] andyzhangx commented on #76
Hi @sbezverk, thanks for your help, it works now, it was due to go dep issue, after I clean up and run `dep ensure -vendor-only` again, it works now.

[2018-03-30 09:12] #76 closed

[2018-03-31 12:45] andyzhangx opened #79 "Enable CSI hostpath example on windows"
Is there any example about how to make CSI work on Windows? Since for windows cluster, the master is also Linux, so only `driver-registrar` and plugin drivers need to run on windows agent node. I would like to know whether there is any example or investigation work about how to make CSI work on Windows.

anyway,
 - build hostpathplugin for windows works:
[code]

 - build driver-registrar for windo

[2018-04-05 18:25] chakri-nelluri commented on #75
@colemickens This is not throughly tested plugin and is currently unsupported and is not recommended for mission critical applications. We are always here though to help you if you see any issues.

[2018-04-23 07:51] andyzhangx commented on #79
Update:
I did a few investigations to enable CSI on Windows, finally, I found there is a blocking issue related to `driver-registrar` component, the error would be like following:
[code]
It's related to https://github.com/kubernetes/kubernetes/issues/52419, `Windows Server Insider build 17101` would fix this issue, I will continue the work after 17101 is released(around May.2018), related error in

[2018-04-23 07:55] andyzhangx commented on #79
FYI @karataliu

[2018-04-24 07:47] arm64b commented on #71
This issue can be closed now.

[2018-04-24 07:47] #71 closed

[2018-04-25 16:27] lpabon opened #81 "Reorganization of drivers repo"
**Overview**:
This repo was first created to be a location for example, non-production, drivers. Just a location on how they may be created. After some time, it has turned into a repo for real drivers. For this reason, these drivers should move onto their own repo with their own release cycles.

**Proposal**:
Here are a set of the proposals:

* First, make sure we tag and branch to keep around the

[2018-04-25 17:10] saad-ali commented on #81
Xing: Moving csi-common will it break existing drivers? Are drivers using this? If so where should it be moved?

[2018-04-25 17:16] saad-ali commented on #81
Move `flexadapter` to `kubernetes-csi/driver-flexadapter`
If `csi-common` is useful it should be `kubernetes-csi/csi-common`. Other wise move and mark deprecated.

[2018-05-03 08:35] karataliu opened #83 "ParseEndpoint does not follow grpc defined scheme"
Following code supports 'unix://', 'tcp://'
https://github.com/kubernetes-csi/drivers/blob/1853bd0038cd634f277efda5c6548766a2a51ff3/pkg/csi-common/utils.go#L30

Should be 'ipv4://', 'unix://'
https://github.com/grpc/grpc/blob/master/doc/naming.md#name-syntax

[2018-05-14 16:33] pohly commented on #81
Overall I'd prefer to keep ``kubernetes-csi/csi-common``.

[2018-05-15 10:06] pohly commented on #81
Note that @shubheksha found an example that shows why we might want to avoid cut-and-paste: logGPRC logs secrets. If we want to fix that (undecided, see https://github.com/kubernetes-csi/external-provisioner/issues/82), then currently we would have to make the change in four places.

[2018-05-15 10:19] pohly commented on #81
I have started vendoring csi-common into driver-registrar as part of the Jaeger tracing prototype, sharing both the logGRPC code and the Jaeger tracing support code:

* https://github.com/pohly/drivers/commits/jaeger-tracing
* https://github.com/pohly/driver-registrar/commits/jaeger-tracing

However, I'm not entirely happy with the setup. It is very cumbersome to make changes in csi-common and the

[2018-05-16 16:23] kfox1111 opened #85 "data distribution image driver"
I (and others) would like to contribute a csi driver that is vendor agnostic and services the greater community.

I'm asking for a kubernetes-csi/image-driver repo be created to house this.

The idea would be to use an oci container image as a volume source. So that all the container caching/distribution mechanisms could be used to ship data.

One example use case:
Currently, I'm creating containe

[2018-05-18 09:12] haoqing0110 opened #86 "Does csi nfs driver support storageclass?"
Examples of nfs driver here is using persistent volume,
https://github.com/kubernetes-csi/drivers/blob/master/pkg/nfs/examples/kubernetes/nginx.yaml

Does nfs driver support dynamic provisioning currently?

[2018-05-18 17:08] saad-ali commented on #85
SGTM I would prefer `kubernetes-csi/driver-*`.

Let's do OWNERS files for each new repo.

[2018-05-20 01:21] cswanson420 opened #87 "GRPC error: rpc error: code = Unimplemented desc = unknown service csi.v0.Controller"
Hi, I am trying to use the csi nfs driver on an ARM platform (RPI) and am running into the above problem.

I had to recompile the code for ARM and subsequently make the images for distribution within the cluster as the images available on the Internet are for amd64 architecture - which I learned the hard way :).

I have tried compiling the csi-attacher from master and from tag v0.2.0 and both prod

[2018-05-21 02:47] lpabon commented on #85
Ok, let me get started on #81 then we will use that as a template for this repo. It should be done by this week.

[2018-05-21 04:35] princerachit opened #88 "Iscsi driver mounts volume at wrong path."
The iscsi driver appends volume name to the actual target path. Therefore, the disk is mounted at /actual/mount/path/vol_name whereas it should be at actual/mount/path/.

This bug lets the workload transition to Running state however NodeUnpublishVolume is not made by the kubelet. Thus, the mounted disk is never unmounted.

[2018-05-21 14:09] #88 closed

[2018-05-21 16:14] kfox1111 commented on #85
Awesome. thanks. :)

[2018-05-24 14:47] jessfraz opened #91 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-31 21:40] lpabon commented on #91
Neat. Will do. This repo may get deprecated, but we will add it to the next one. See #81

[2018-06-11 16:08] kfox1111 commented on #85
@lpabon any updates?

[2018-07-19 00:25] tamalsaha opened #97 "Can I implement a Vault CSI driver?"
I would like to use Vault as source of secret for my Kubernetes cluster. I have read this awesome post https://arslan.io/2018/06/21/how-to-write-a-container-storage-interface-csi-plugin/ post by @fatih . I understand the overall process. I would like to implement a `tmpfs` based volume like `Secrets` that provision secrets using Vault.

Few things that are not clear to me:

- How do I use the serv

[2018-07-19 02:57] tamalsaha commented on #97
opened on main repo https://github.com/kubernetes/kubernetes/issues/66362

[2018-07-19 02:57] #97 closed

[2018-07-25 11:25] tonyfumonkey opened #99 "Hostpath driver: csi-pod cannot be created"
I am new to CSI and follows guideline here [https://kubernetes-csi.github.io/docs/Example.html](url). But when i create csi-pod as stated, it fails to be created.

NAME      READY     STATUS              RESTARTS   AGE
csi-pod   3/4       RunContainerError   0          2m

Events:
  Normal   Scheduled              1m    default-scheduler  Successfully assigned csi-pod to minikube
  Normal   Succes

[2018-08-07 20:47] mathu97 opened #103 "Sample iSCSI yaml files?"
Did anyone get the iSCSI driver to work? If so can you provide some sample yaml files?

[2018-08-08 14:34] wongma7 commented on #103
@j-griffith have you had any success modifying the current driver to run on kubernetes? Any ideas what requirements the spec would have, e.g. is it needed/sufficient to mount /dev? Thanks!

[2018-08-08 14:43] j-griffith commented on #103
I started this last week but I've shifted gears a bit and am working on the iscsi connector libs (will need/want that for this driver) first.  I may be able to get back to this at the end of the week or early next week and get something posted.  I'll update here.

BTW, the approach I've taken is to just focus on the CSI driver itself, and not the deployment and ansible playbooks.  You'll need more

[2018-08-11 01:18] okamototk opened #105 "Image Pull errror for nfsplugin"
nfsplugin Image version is invalid.
nfsplugin uses following image:

https://github.com/kubernetes-csi/drivers/blob/master/pkg/nfs/deploy/kubernetes/csi-nodeplugin-nfsplugin.yaml#L40

[code]

But we can only v0.2.0 in quay:

https://quay.io/repository/k8scsi/nfsplugin?tag=latest&tab=tags

[2018-08-27 06:39] pennpeng opened #106 "Back-off pulling image "quay.io/k8scsi/cinderplugin""
there is no image named “quay.io/k8scsi/cinderplugin"

[2018-08-28 21:08] kippandrew commented on #99
I've also run into this error, any clues as to what might be going on?

[2018-08-30 05:16] haoqing0110 commented on #105
@chakri-nelluri @lpabon @rootfs can you help on this?

[2018-09-04 06:24] wackxu opened #109 "Add UT for hostpath driver"
from comment https://github.com/kubernetes-csi/drivers/pull/108#issuecomment-418246768

[2018-09-10 09:00] yangwwei opened #110 "Hostpath driver doesn't support to specify uid/gid"
I am trying hostpath driver with csc library,

1) Create volume
[code]
2) Node publish
[code]

3) Check mount point
[code]
but the mount point was created and owned by root:root, the normal user who runs step 1 and 2 doesn't have write access. It looks like the hostpath driver doesn't recognize uid/gid I specified in the commandline.

[2018-09-28 12:42] bclau opened #114 "nodeServer does not implement csi.NodeServer.NodeGetVolumeStats method"
When trying to compile the hostpathplugin driver, it outputs the following error:

    go build -o hostpathplugin.exe github.com/kubernetes-csi/drivers/app/hostpathplugin
    # github.com/kubernetes-csi/drivers/pkg/hostpath
    C:\Users\Test\go\src\github.com\kubernetes-csi\drivers\pkg\hostpath\hostpath.go:123:37: cannot use hp.ns (type *nodeServer) as type csi.NodeServer in argument to s.Start:

[2018-10-04 16:02] kfox1111 commented on #81
@lpabon Looks like the reorg may have happened? can we create a repo for #85 yet?

[2018-10-04 18:10] pohly commented on #81
kfox1111 <notifications@github.com> writes:

No, the reorg is on hold at the moment. The Kubernetes CSI team decided
in one of the weekly meetings to continue development with one repo per
component. Your driver therefore should get its own repo.

[2018-10-04 19:09] kfox1111 commented on #81
Yeah, thats of what I'm asking. If it is to be in its own repo, can we get it created? github.com/kubernetes-csi/csi-driver-image?

Thanks,
Kevin

[2018-10-04 20:16] kfox1111 commented on #81
Oh. I see. the repos were created, but there isn't code in them yet. I can wait then.

[2018-10-25 17:38] kfox1111 commented on #81
Can someone please explain why this is stalled? I'd like to help if possible.

[2018-11-30 09:37] Ntr0 commented on #114
The vendored spec package also seems to be v1.0.0-rc2 of the spec. So this probably should be updated as well.

[2018-12-06 15:35] ovk opened #126 "nfsplugin:v0.3.0 image is missing"
The latest NFS plugin [image](https://github.com/kubernetes-csi/drivers/blob/master/pkg/nfs/deploy/kubernetes/csi-nodeplugin-nfsplugin.yaml#L40) is missing in the Quay repository: only v0.2.0 is available.

[2018-12-11 19:44] kfox1111 commented on #85
@rthallisey pr that I think will interest kubevirt for container images.

[2018-12-11 19:45] kfox1111 commented on #85
Prototype driver currently here: ttps://github.com/kfox1111/drivers/tree/volume-driver/pkg/image

[2018-12-17 16:43] jparklab opened #130 "Add synology-csi to sample driver list"
I wrote a csi driver for synology NAS(https://github.com/jparklab/synology-csi), and would like to share it with others.
Can you please add it to the sample driver list?

| Name | Status | More Information |
|--------|--------|--------|
| Synology NAS | v1.0.0 | A CSI Plugin for synology NAS(https://www.synology.com/en-us) |

[2018-12-21 10:09] fejta commented on #91
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 21:56] fejta commented on #91
kubernetes-csi/drivers still needs a SECURITY_CONTACTS file.
/assign @lpabon @chakri-nelluri @rootfs @edisonxiang @sbezverk

[2019-01-03 22:36] kfox1111 commented on #85
I updated the image driver to work with csi v1 and the newer proposed pod inline behaviour here: https://github.com/kubernetes-csi/drivers/pull/133

[2019-01-04 08:53] hnwolf commented on #126
I also get the same issue, should we update the version from 0.3.0 to 0.2.0 in the yaml file?

[2019-01-09 05:50] fejta commented on #91
/close

[2019-01-09 05:50] #91 closed

[2019-01-31 07:06] wqcheng commented on #86
@saad-ali
hello，I also have this requirement. It is very troublesome to call csi to create PVC through pv. Can we support storageclass?

[2019-01-31 07:07] wqcheng commented on #86
@haoqing0110 Do you have a good solution now?

[2019-01-31 07:11] wqcheng commented on #86
@wongma7

[2019-02-15 22:06] saad-ali opened #149 "Indicate repo is deprecated in README"
The drivers in this repo are being moved:
* https://github.com/kubernetes-csi/csi-driver-iscsi
* https://github.com/kubernetes-csi/csi-driver-nfs
* https://github.com/kubernetes-csi/csi-driver-fibre-channel
* https://github.com/kubernetes-csi/csi-driver-host-path
* https://github.com/kubernetes-csi/csi-driver-flex

Let's make sure to update the main README page for this repo (https://github.com/ku

[2019-02-15 22:06] saad-ali commented on #149
CC @pohly @msau42

[2019-03-06 13:35] cwdsuzhou opened #151 "Update CSI sepc to support expand volume"
Since, current spec is 1.0.0 and does not support  expand volume. I  would to update the spec to 1.1.0 to support it.

[2019-03-06 13:36] cwdsuzhou commented on #151
@msau42 I need help

[2019-03-06 13:37] cwdsuzhou commented on #151
/assign @msau42

[2019-03-08 02:40] msau42 commented on #151
Hi @cwdsuzhou, which driver are you interested in adding resizing support for?  We are deprecating this repo and moving each driver to its own separate repository.

[2019-03-08 03:02] cwdsuzhou commented on #151
Thank you! I wonder if you will deprecate the csi-common or move it to a separate repository?
Actually, we develop our own csi driver and it is depended on csi-common.

[2019-03-08 03:21] msau42 commented on #151
Which part if csi-common do you find useful? We were not planning to update csi-common but we can consider pulling out pieces that you find useful

[2019-03-08 03:39] cwdsuzhou commented on #151
We extended the csi-common overall. Would you like to mv it to a separate repository as a common lib like provisioner-lib?  And I found other drievrs like [alibaba csiplugin](https://github.com/AliyunContainerService/csi-plugin/tree/master/vendor)、[ceph csi](https://github.com/ceph/ceph-csi) also depend on csi-common.

[2019-03-12 18:51] sanjeevshar opened #152 "Block Volume not supported by hostpath driver"
I testing the hostpath example but hit the following error : "Block Volume not supported"

test@dsib1093:~$ csc controller new --endpoint tcp://127.0.0.1:10000 --cap 1,block CSIVolumeName
Block Volume not supported

Please use -h,--help for more information
test@dsib1093:~$ csc controller new --endpoint tcp://127.0.0.1:10000 -l debug  --cap 1,block CSIVolumeName
DEBU[0000] assigned the root contex

[2019-03-13 15:56] sanjeevshar opened #153 "NFS Driver : What is in local-up-cluster.sh"
NFS driver README mentions hack/local-up-cluster.sh but I cannot locate it. What is supposed to be in that file?

Example local-up-cluster.sh
ALLOW_PRIVILEGED=true FEATURE_GATES=CSIPersistentVolume=true,MountPropagation=true RUNTIME_CONFIG="storage.k8s.io/v1alpha1=true" LOG_LEVEL=5 hack/local-up-cluster.sh

[2019-03-22 05:13] Paxa opened #155 ""Drivers" link in README"
Broken link
Current: https://kubernetes-csi.github.io/docs/Drivers.html
Correct: https://kubernetes-csi.github.io/docs/drivers.html

[2019-04-02 09:27] aayushrangwala commented on #99
Ran into the same issue here with k8s environment: Microk8s

[2019-04-22 18:29] doprdele commented on #99
Running into same issue

[2019-04-29 15:34] kfox1111 commented on #85
This has merged into the other repository. Closing.

/close

[2019-04-29 15:34] #85 closed

[2019-05-01 13:45] #151 closed

[2019-05-16 22:46] msau42 commented on #149
/remove-lifecycle stale

[2019-05-23 11:58] feiskyer commented on #79
/remove-lifecycle rotten

[2019-05-27 08:05] Ntr0 commented on #114
/close

[2019-05-27 08:05] #114 closed

[2019-06-11 21:08] lpabon opened #159 "Remove the csi-common package"
This package is confusing and there is no need to have it. gRPC golang implementations should use the csi.pb.go directly.

[2019-06-12 09:11] pohly commented on #159
I fully agree that the package makes no sense. That's why we already changed drivers to not depend on it anymore: https://github.com/kubernetes-csi/csi-driver-host-path/pull/9

However, the entire "drivers" repo is already obsolete. IMHO we don't need to remove individual packages from it.

[2019-06-17 06:24] rohit313166 opened #160 "Not Able to pull image quay.io/k8scsi/nfsplugin: v0.3.0 and CSI Will be work on architecture ppc64le ?"
@saad-ali  1. quay.io/k8scsi/nfsplugin: v0.3.0 is missing and but tried with  quay.io/k8scsi/nfsplugin:
                    v0.2.0 also getting same error?
                   2.  CSI Will  be work on architecture ppc64le ?

[2019-06-21 08:23] #10 closed

[2019-06-21 08:23] #23 closed

[2019-06-21 08:23] #21 closed

[2019-06-21 08:23] #24 closed

[2019-06-21 08:23] #25 closed

[2019-06-21 12:27] #31 closed

[2019-06-21 13:28] #12 closed

[2019-06-21 13:28] #9 closed

[2019-06-21 14:29] #22 closed

[2019-06-21 22:37] #55 closed

[2019-06-22 03:42] #58 closed

[2019-06-22 06:45] #73 closed

[2019-06-22 07:46] #75 closed

[2019-06-22 12:51] #83 closed

[2019-06-22 17:56] #87 closed

[2019-06-24 03:29] #103 closed

[2019-06-24 09:35] #106 closed

[2019-06-24 10:36] #105 closed

[2019-06-24 11:37] #109 closed

[2019-06-24 14:40] #110 closed

[2019-06-25 13:01] #81 closed

[2019-06-27 02:38] #126 closed

[2019-06-30 08:53] #86 closed

[2019-08-09 20:43] #152 closed

[2019-08-10 18:04] #153 closed

[2019-08-19 07:38] #155 closed

[2019-09-19 19:56] #99 closed

[2019-10-14 01:26] #149 closed

[2019-10-20 13:58] #79 closed

[2019-11-09 10:43] #159 closed

[2019-11-14 08:37] #160 closed

[2020-09-23 08:15] marviniter opened #162 "comments spelling mistake in flexvolumedriver.go"
comments spelling mistake in flexvolumedriver.go,change iff to if
Current: // Returns true iff the given command is known to be unsupported.
Correct: // Returns true if the given command is known to be unsupported.

[2020-09-23 09:19] marviniter opened #164 "Panic with nil pointer when get FsType value"
panic: runtime error: invalid memory address or nil pointer dereference in flexadapter/controllerserver.go when to get fsType by mount.FsType

[2020-12-21 06:05] GodGirlwsy opened #166 "lustre has mounted in csi container,but the pod start failed"
YAML:
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lustre-csi-pv
  labels:
    lustre-pvname: lustre-csi-pv
spec:
  capacity:
    storage: 300Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  csi:
    driver: lustreplugin.csi.h3c.com
    # set volumeHandle same value pv name
    volumeHandle: lustre-csi-pv
    volumeAttributes:
      server: 186.31.29.29@t

[2021-02-20 09:47] #162 closed, assigned to nobody

[2021-02-20 11:49] #164 closed, assigned to nobody

[2021-03-11 09:23] PRatwani opened #168 "ReadyToUse state remains to false state during volumesnapshot creation on AWS"
While creating a volumesnapshot on AWS its state remains false. Details below:

$ kubectl get volumesnapshot
NAME            READYTOUSE   SOURCEPVC   SOURCESNAPSHOTCONTENT   RESTORESIZE   SNAPSHOTCLASS    SNAPSHOTCONTENT                                    CREATIONTIME   AGE
test-snapshot   false        ebs-claim                                         test-snapclass   snapcontent-80391d71-0929-404

[2021-03-16 04:33] nikhita commented on #166
Closing, this repo is being archived. Please see https://github.com/kubernetes/org/issues/2568 for more details.

[2021-03-16 04:33] #166 closed, assigned to nobody

[2021-03-16 04:33] nikhita commented on #168
Closing, this repo is being archived. Please see kubernetes/org#2568 for more details.

[2021-03-16 04:33] #168 closed, assigned to nobody